<h1> Event Planner </h1>

<%= form_for @event, :html => {:id => "input"} do |f| %>
  Title: <%= f.text_field :title %><br />
  Description: <%= f.text_area :description, size: "60x12" %><br />
  Address: <%= f.text_field :address %><br />
  Latitude: <%= f.text_field :latitude %><br />
  Longitude: <%= f.text_field :longitude %><br />
  </div>
  <%= f.submit "Submit Event", :id => 'submit_event' %>
<% end %>

<div class="container">
  <div id="map-canvas"></div>
</div>

<div class="sidebar">

</div>
