<h1> Event Planner </h1>

<%= form_for @event, :html => {:id => "center"} do |f| %>
  Title: <%= f.text_field :title, class: "input" %><br />
  Description: <%= f.text_area :description, size: "40x5", class: "input" %><br />
  Address: <%= f.text_field :address, class: "input" %><br />
  Latitude: <%= f.text_field :latitude, class: "input" %><br />
  Longitude: <%= f.text_field :longitude, class: "input" %><br />
  </div>
  <%= f.submit "Save Event", :id => 'submit_event' %>
<% end %>

<div class="container">
  <div id="map-canvas"></div>
</div>

<h1>All Events</h1>
<% @events.each do |event| %><div id="center">
  <%= event.title =%>
  - <%= event.address =%>
<% end %></div>


