<!DOCTYPE html>
<html>
<head>
  <title>EventPlanner</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDfgqSIDabQtjsuNSdQHr66O3svEbNy3ZY" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat|Titillium+Web' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
